{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wedding Matrimony</title>
    <!--== META TAGS ==-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="theme-color" content="#f6af04" />
    <meta name="description" content="" />
    <meta name="keyword" content="" />
    <!--== FAV ICON(BROWSER TAB ICON) ==-->
    <link rel="shortcut icon" href="{% static 'images/fav.ico' %}" type="image/x-icon" />
    <!--== CSS FILES ==-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.min.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>
    <!-- PRELOADER -->
    <div id="preloader">
        <div class="plod">
            <span class="lod1"><img src="{% static 'images/loder/1.png' %}" alt="" loading="lazy" /></span>
            <span class="lod2"><img src="{% static 'images/loder/2.png' %}" alt="" loading="lazy" /></span>
            <span class="lod3"><img src="{% static 'images/loder/3.png' %}" alt="" loading="lazy" /></span>
        </div>
    </div>
    <div class="pop-bg"></div>
    <!-- END PRELOADER -->
    <!-- HEADER & MENU -->
    <div class="hom-top">
        <div class="container">
            <div class="row">
                <div class="hom-nav">
                    <!-- LOGO -->
                    <div class="logo">
                        <a href="/userhome" class="logo-brand"><img src="{% static 'images/logo-b.png' %}" alt=""
                                loading="lazy" class="ic-logo" /></a>
                    </div>

                    <!-- TOP MENU -->
                    <div class="bl">
                        <ul>
                            <li><a href="/userHome">Home</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <!-- <li><a href="/login">Login</a></li> -->
                        </ul>
                    </div>

                    <!-- USER PROFILE -->
                    <div class="al">
                        <a href="/login" class="btn btn-danger">Logout</a>
                    </div>

                    <!--MOBILE MENU-->
                    <div class="mob-menu">
                        <div class="mob-me-ic">
                            <span class="ser-open mobile-ser">
                                <img src="{% static 'images/icon/search.svg' %}" alt="" />
                            </span>
                            <span class="mobile-exprt" data-mob="dashbord">
                                <img src="{% static 'images/icon/users.svg' %}" alt="" />
                            </span>
                            <span class="mobile-menu" data-mob="mobile">
                                <img src="{% static 'images/icon/menu.svg' %}" alt="" />
                            </span>
                        </div>
                    </div>
                    <!--END MOBILE MENU-->
                </div>
            </div>
        </div>
    </div>
    <!-- END HEADER & MENU -->

    <!-- LOGIN -->
    <section>
        <div class="db">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3">
                        <div class="db-nav">
                            <div class="db-nav-pro">
                                <img src="/static/media/{{mydata.image}}" class="img-fluid" alt="" />
                            </div>
                            <div class="db-nav-list">
                                <ul class="navigation">
                                    <li>
                                        <a href="/userHome/" class="act"><i class="fa fa-tachometer"
                                                aria-hidden="true"></i>Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="/profile/"><i class="fa fa-male" aria-hidden="true"></i>Profile</a>
                                    </li>
                                    <li>
                                        <a href="/chatList/"><i class="fa fa-commenting-o" aria-hidden="true"></i>Chat
                                            list</a>
                                    </li>
                                    <li>
                                        <a href="/allUsers/"><i class="fa fa-male" aria-hidden="true"></i>All Users</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Log
                                            out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="col-md-12 db-sec-com db-new-pro-main">
                            <h2 class="db-tit">New Profiles Matches</h2>
                            <ul class="slider">
                                {% for i in matchData %}
                                <li>
                                    <div class="db-new-pro">
                                        <img src="/static/media/{{i.image}}" alt="" class="profile" />
                                        <div>
                                            <h5>{{i.name}}</h5>
                                            <span class="city">{{i.city}}</span>
                                            <span class="age">{{i.age}} Years old</span>
                                        </div>
                                        <!-- <div class="pro-ave" title="User currently available">
                                            <span class="pro-ave-yes"></span>
                                        </div> -->
                                        <a href="/profileDetails?id={{i.id}}" class="fclick">&nbsp;</a>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-12 db-sec-com">
                                <h2 class="db-tit">Interest request</h2>
                                <div class="db-pro-stat">
                                    <div class="db-inte-main">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#home">New
                                                    requests</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#menu1">Accept
                                                    request</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#menu2">Denay request</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#menu3">My Requests</a>
                                            </li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div id="home" class="container tab-pane active">
                                                <br />
                                                <div class="db-inte-prof-list">
                                                    <ul>
                                                        {% if pendingRequest %}
                                                        {% for i in pendingRequest %}
                                                        <li>
                                                            <div class="db-int-pro-1">
                                                                <img src="/static/media/{{i.sender.image}}" alt="" />
                                                            </div>
                                                            <div class="db-int-pro-2">
                                                                <h5>{{i.sender.name}}</h5>
                                                                <ol class="poi">
                                                                    <li>
                                                                        City: <strong>{{i.sender.city}}</strong>
                                                                    </li>
                                                                    <li>
                                                                        Age: <strong>{{i.sender.age}}</strong>
                                                                    </li>
                                                                    <li>
                                                                        Height:
                                                                        <strong>{{i.sender.height}}</strong>
                                                                    </li>
                                                                    <li>
                                                                        Job: <strong>{{i.sender.jobtype}}</strong>
                                                                    </li>
                                                                </ol>
                                                                <ol class="poi poi-date">
                                                                    <li>
                                                                        Request on:
                                                                        {{ i.date_time|date:"g:i A, j F Y" }}
                                                                    </li>
                                                                </ol>
                                                                <a href="/profileDetails?id={{i.sender_id}}&case=Full"
                                                                    class="cta-5">View full profile</a>
                                                            </div>
                                                            <div class="db-int-pro-3">
                                                                <button type="button" class="btn btn-success btn-sm"
                                                                    onclick='window.location.href="/approveIntrest?id={{i.id}}"'>
                                                                    Accept
                                                                </button>
                                                                <button type="button"
                                                                    class="btn btn-outline-danger btn-sm"
                                                                    onclick='window.location.href="/rejectIntrest?id={{i.id}}"'>
                                                                    Denay
                                                                </button>
                                                            </div>
                                                        </li>
                                                        {% endfor %}
                                                        {% else %}
                                                        <h2>No Requests Available</h2>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                            <div id="menu1" class="container tab-pane fade">
                                                <br />
                                                <div class="db-inte-prof-list">
                                                    <ul>
                                                        {% if approvedRequest %}
                                                        {% for j in approvedRequest %}
                                                        <li>
                                                            <div class="db-int-pro-1">
                                                                <img src="/static/media/{{j.sender.image}}" alt="" />
                                                            </div>
                                                            <div class="db-int-pro-2">
                                                                <h5>{{j.sender.name}}</h5>
                                                                <ol class="poi">
                                                                    <li>
                                                                        City: <strong>{{j.sender.city}}</strong>
                                                                    </li>
                                                                    <li>
                                                                        Age: <strong>{{j.sender.age}}</strong>
                                                                    </li>
                                                                    <li>
                                                                        Height:
                                                                        <strong>{{j.sender.height}}</strong>
                                                                    </li>
                                                                    <li>
                                                                        Job: <strong>{{j.sender.jobtype}}</strong>
                                                                    </li>
                                                                </ol>
                                                                <ol class="poi poi-date">
                                                                    <li>
                                                                        Request on:
                                                                        {{ j.date_time|date:"g:i A, j F Y" }}
                                                                    </li>
                                                                </ol>
                                                                <a href="/profileDetails?id={{j.sender_id}}&case=Full"
                                                                    class="cta-5">View full profile</a>
                                                            </div>
                                                            <div class="db-int-pro-3">
                                                                <button type="button"
                                                                    class="btn btn-outline-danger btn-sm"
                                                                    onclick='window.location.href="/rejectIntrest?id={{j.id}}"'>
                                                                    Denay
                                                                </button>
                                                            </div>
                                                        </li>
                                                        {% endfor %}
                                                        {% else %}
                                                        <h2>No Requests Available</h2>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                            <div id="menu2" class="container tab-pane fade">
                                                <br />
                                                <div class="db-inte-prof-list">
                                                    <ul>
                                                        {% if rejectedRequest %}
                                                        {% for k in rejectedRequest %}
                                                        <li>
                                                            <div class="db-int-pro-1">
                                                                <img src="/static/media/{{k.sender.image}}" alt="" />
                                                            </div>
                                                            <div class="db-int-pro-2">
                                                                <h5>{{k.sender.name}}</h5>
                                                                <ol class="poi">
                                                                    <li>
                                                                        City: <strong>{{k.sender.city}}</strong>
                                                                    </li>
                                                                    <li>
                                                                        Age: <strong>{{k.sender.age}}</strong>
                                                                    </li>
                                                                    <li>
                                                                        Height:
                                                                        <strong>{{k.sender.height}}</strong>
                                                                    </li>
                                                                    <li>
                                                                        Job: <strong>{{k.sender.jobtype}}</strong>
                                                                    </li>
                                                                </ol>
                                                                <ol class="poi poi-date">
                                                                    <li>
                                                                        Request on:
                                                                        {{ k.date_time|date:"g:i A, j F Y" }}
                                                                    </li>
                                                                </ol>
                                                                <a href="/profileDetails?id={{k.sender_id}}&case=Full"
                                                                    class="cta-5">View full profile</a>
                                                            </div>
                                                            <div class="db-int-pro-3">
                                                                <button type="button" class="btn btn-success btn-sm"
                                                                    onclick='window.location.href="/approveIntrest?id={{k.id}}"'>
                                                                    Accept
                                                                </button>
                                                            </div>
                                                        </li>
                                                        {% endfor %}
                                                        {% else %}
                                                        <h2>No Requests Available</h2>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                            <div id="menu3" class="container tab-pane fade">
                                                <br />
                                                <div class="db-inte-prof-list">
                                                    <ul>
                                                        {% if myRequests %}
                                                        {% for k in myRequests %}
                                                        <li>
                                                            <div class="db-int-pro-1">
                                                                <img src="/static/media/{{k.receiver.image}}" alt="" />
                                                            </div>
                                                            <div class="db-int-pro-2">
                                                                <h5>{{k.receiver.name}}</h5>
                                                                <ol class="poi">
                                                                    <li>
                                                                        City: <strong>{{k.receiver.city}}</strong>
                                                                    </li>
                                                                    <li>
                                                                        Age: <strong>{{k.receiver.age}}</strong>
                                                                    </li>
                                                                    <li>
                                                                        Height:
                                                                        <strong>{{k.receiver.height}}</strong>
                                                                    </li>
                                                                    <li>
                                                                        Job: <strong>{{k.receiver.jobtype}}</strong>
                                                                    </li>
                                                                </ol>
                                                                <ol class="poi poi-date">
                                                                    <li>
                                                                        Request on:
                                                                        {{ k.date_time|date:"g:i A, j F Y" }}
                                                                    </li>
                                                                </ol>
                                                                <a href="/profileDetails?id={{k.receiver_id}}&case=Full"
                                                                    class="cta-5">View full profile</a>
                                                            </div>
                                                            <div class="db-int-pro-3">
                                                                <button type="button" class="btn btn-success btn-sm">
                                                                    {{k.status}}
                                                                </button>
                                                            </div>
                                                        </li>
                                                        {% endfor %}
                                                        {% else %}
                                                        <h2>No Requests Available</h2>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END -->


    <!-- FOOTER -->
    <section class="wed-hom-footer">
        <div class="container">
            <div class="row wed-foot-link wed-foot-link-1"></div>
        </div>
    </section>
    <!-- END -->
    <!-- COPYRIGHTS -->
    <section>
        <div class="cr">
            <div class="container">
                <div class="row">
                    <p>
                        Copyright © <span id="cry">2017-2020</span>
                        <a href="#!" target="_blank">Company.com</a> All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- END -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/select-opt.js' %}"></script>
    <script src="{% static 'js/Chart.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
        //COMMON SLIDER
        $(".slider").slick({
            infinite: false,
            slidesToShow: 5,
            arrows: false,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
            dots: false,
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        centerMode: false,
                    },
                },
            ],
        });

        $(".count").each(function () {
            $(this)
                .prop("Counter", 0)
                .animate(
                    {
                        Counter: $(this).text(),
                    },
                    {
                        duration: 4000,
                        easing: "swing",
                        step: function (now) {
                            $(this).text(Math.ceil(now));
                        },
                    }
                );
        });

        var xValues = "0";
        var yValues = "50";

        new Chart("Chart_leads", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [
                    {
                        fill: false,
                        lineTension: 0,
                        backgroundColor: "#f1bb51",
                        borderColor: "#fae9c8",
                        data: yValues,
                    },
                ],
            },
            options: {
                responsive: true,
                legend: { display: false },
                scales: {
                    yAxes: [{ ticks: { min: 0, max: 100 } }],
                },
            },
        });
    </script>
</body>

<!-- Mirrored from rn53themes.net/themes/matrimo/user-dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Dec 2023 04:28:53 GMT -->

</html>